{%- assign status = include.status | default: 'stub' -%}
{%- if status == 'done' -%}
  {%- assign title = 'Переведено' -%}
{%- elsif status == 'process' -%}
  {%- assign title = 'В процессе' -%}
{%- elsif status == 'stub' -%}
  {%- assign title = 'Заглушки' -%}
{%- elsif status == 'undone' -%}
  {%- assign title = 'Назавершенные' -%}
{%- elsif status == 'outdate' -%}
  {%- assign title = 'Устаревшие' -%}
{%- elsif status == 'bad' -%}
  {%- assign title = 'Есть проблемы' -%}
{%- elsif status == 'wrong' -%}
  {%- assign title = 'Недостоверные' -%}
{%- endif -%}

{%- assign list = '' | split: '///' -%}
{%- assign pages = site.tr | where: 'status', status | sort: 'path' -%}
{%- for p in pages -%}
  {%- if p != page -%}
    {%- assign list = list | push: p -%}
  {%- endif -%}
{%- endfor -%}
{%- if list.size > 0 -%}
  <h3 id="h-{{- status -}}">{{ title }}</h3>
  <table class="wide">
   <tr><th>Страница</th><th>Оригинал</th><th>Изменен</th></tr>
   {%- for pp in list -%}
   <tr>
    <td>
      <a href="{{- pp.url | relative_url -}}">{{ pp.title | default: pp.path | replace: '_', '​_' }}</a>
    </td>
    <td>
      {%- if pp.origin -%}
        <a href="{{- pp.origin -}}">{{- pp.origin | replace: '_', '​_' -}}</a>
      {%- endif -%}
    </td>
    <td style="text-align: right;">
      {%- if pp.last_modified_at -%}
        {{- pp.last_modified_at | date: '%Y/%m/%d' -}}
      {%- endif -%}
    </td>
   </tr>
   {%- endfor -%}
  </table>
{%- endif -%}
