<h4>Обратная связь</h4>

<ul>
  <li class="fa-icon-li-github">
    <a href="https://github.com/shikhalev/hugin_doc_ru" style="font-weight: bold;">shikhalev/hugin_doc_ru</a>
    <ul>
      <li class="fa-icon-li-comments"><a href="https://github.com/shikhalev/hugin_doc_ru/discussions">Обсуждения</a></li>
      <li class="fa-icon-li-comment-dots"><a href="https://github.com/shikhalev/hugin_doc_ru/issues">Проблемы и задачи</a></li>
    </ul>
  </li>
  <li class="fa-icon-li-envelope">
    <a href="mailto:hugin-doc-ru@shikhalev.org">hugin-doc-ru@shikhalev.org</a>
  </li>
  <li class="fa-icon-li-home">
    <a href="https://shikhalev.org/" style="font-weight: bold;">https://shikhalev.org/</a>
  </li>
</ul>
