---
layout: nova/default
toc: true
sharing: true
meta: false
---

<article class="post">

  <header class="post-header">
    {%- if page.origin -%}
      <p class="translation-links"><a href="{{- page.origin -}}">оргинал</a></p>
    {%- endif -%}
    <!-- <h1 class="post-title">{{ page.title | escape }}</h1> -->
    <hr style="clear: both;">
  </header>

  <div class="post-content">
    {{ content }}
  </div>

<hr style="clear: both;">
<script src="https://giscus.app/client.js"
        data-repo="shikhalev/hugin_doc_ru"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyNTkyMTM5NjU="
        data-category="General"
        data-category-id="DIC_kwDOD3NKjc4B_XvC"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="ru"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

</article>
