---
layout: translation
---

<p style="font-style: italic;">Under construction, sorry ;(</p>

<p>Эта страница еще не переведена или не написана. Вы можете помочь с ее наполнением, поучаствовав в проекте.</p>

<p>Адрес страницы в репозитории: <a href="https://github.com/shikhalev/hugin_doc_ru/blob/master/{{- page.path -}}">https://github.com/shikhalev/hugin_doc_ru/blob/master/{{- page.path -}}</a>.</p>

{% if page.origin %}
  <p>Адрес оригинала: <a href="{{- page.origin -}}">{{- page.origin -}}</a></p>
{% endif %}

{{ content }}
